
#main-div {
/* 	width: 100%; */
/* 	height: 100% */
/* 	margin: 0px ; */
/* 	border: 3px solid #666; */
	/* 		background-color:#ededf1; */
/* 	background-image: url("../images/bg.jpg"); */
	font-family: Cambria, Georgia, serif;
	padding: 20px 1%;
}

header {
	border: 1px solid;
	height: 100px;
	width: 100%;
	padding: 0 5%;
	background: rgb(125,176,169);
background: linear-gradient(90deg, rgba(125,176,169,1) 0%, rgba(78,109,114,1) 31%, rgba(33,44,62,1) 100%);
}
.previewImg {
	height:100px;
	width:250px;
		border: 3px solid black;
}
 svg {margin-top:0px;
           margin-bottom:0px;
           margin-right:0px;
           margin-left:0px;top: -300;}
header .COEPLogo {
	padding: 1px;
	border-radius: 68px;
	vertical-align: middle;
	width: 95px;
	height: 95px;
	background: #fff;
	margin-right: 30px;
}
header .VlabLogo{
	padding: 1px;
	vertical-align: middle;
	width: 150px;
	height: 95px;
	background: #fff;
	float: right;
	margin-right: 30px;
}
header h1 {
	font-family: Cambria, Georgia, serif;
	color: #fff;
	font-size: 25px;
	margin: 20px;
	font-weight: bold;
	letter-spacing: 4px;
}

#colgName {
	font-family: Cambria, Georgia, serif;
	color: #fff;
	font-size: 25px;
	margin: 20px;
	font-weight: bold;
	letter-spacing: 4px;
}

header #appName {
	font-family: Cambria, Georgia, serif;
	color: #fff;
	font-size: 16px;
	margin: 10px;
	font-weight: bold;
	letter-spacing: 4px;
}

header h2 {
	font-family: Cambria, Georgia, serif;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 4px;
}
#LCSConfigDiv h1 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    margin: 5px 0;
    border-radius: 10px;
    padding: 10px 0;
    font-family: Cambria, Georgia, serif;
    text-align: center;
}
#TCSConfigDiv  h1 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    margin: 5px 0;
    border-radius: 10px;
    padding: 10px 0;
    font-family: Cambria, Georgia, serif;
    text-align: center;
}
 #PCSConfigDiv  h1 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    margin: 5px 0;
    border-radius: 10px;
    padding: 10px 0;
    font-family: Cambria, Georgia, serif;
    text-align: center;
}
#FCSConfigDiv h1 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    margin: 5px 0;
    border-radius: 10px;
    padding: 10px 0;
    font-family: Cambria, Georgia, serif;
    text-align: center;
}
#TestDiv h2 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    margin: 5px 0;
    border-radius: 10px;
    padding: 10px 0;
    font-family: Cambria, Georgia, serif;
    text-align: center;
}


#LCSConfigNext, #FCSConfigNext, #PCSConfigNext, #TCSConfigNext {
    padding: 6px 10px;
    background-color: #666;
    color: #fff;
    margin: 5px 10px 0 0;
    font-size: 15px;
    border-radius: 6px;
    font-weight: bold;
}


@media screen and (max-width:2000px) {
	#main-div {
		width: 100%;
/* 		height: auto; */
/* 		margin: 10px 0%; */
/* 		border: 3px solid #666; */
	}
}

@media screen and (min-width: 100px) and (max-width: 468px) {
	#main-div {
		width: 100%;
		height: auto;
		margin: 10px 0%;
		border: 3px solid #666;
	}
	header img {
		width: 101px;
	}
	header h1 {
		font-size: 20px;
		margin-top: 12px;
	}
	header h2 {
		font-size: 19px;
	}
	
}

@media screen and (min-width: 330px) and (max-width: 768px) {
	#main-div {
		width: 100%;
		height: auto;
		margin: 10px 0%;
		border: 3px solid #666;
	}
	header img {
		width: 50px;
	}
	
	header h2 {
		font-size: 19px;
	}
	
	#colgName
	{
		border-radius:10px;
		white-space: pre-line;
		margin-left:0px;
		margin-right:0px;
		color:#fff;
		font-size:16px;
		background: rgb(125,176,169);
background: linear-gradient(90deg, rgba(125,176,169,1) 0%, rgba(78,109,114,1) 31%, rgba(33,44,62,1) 100%);
	}
	#colgNamebold
	{
		padding:5px 10px 20px 5px;
	}
	
}
@media screen and (min-width: 330px) and (max-width: 500px) {
	
	#colgName
	{border-radius:10px;
		white-space: pre-line;
		margin-left:0px;
		margin-right:0px;
		color:#fff;
		font-size:13px;
		background: rgb(125,176,169);
background: linear-gradient(90deg, rgba(125,176,169,1) 0%, rgba(78,109,114,1) 31%, rgba(33,44,62,1) 100%);
	}
	
	.previewImg
	{
		margin-bottom:20px;;
		border: 3px solid black;
		width:150px;
		height:150px;
	}
	#myresult
	{width:250px;
		height:200px;
		
	}
	#SelectOriginalName
	{
		margin-left:25px;
	}
	#originalName
	{
		margin-left:15px;
		width:320px;
		
	}
	#myModal
	{
		
		width:400px;
		
	}
	.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 37px;
    height: 32px;
	}
	#myimage
	{
		width:330px;
	}
	.alert {
    padding: 10px 62px 10px 62px;
	margin-left:5px;
	}
	 .modal .modal-dialog {
        position:relative;
        width:70%;
        //margin: 10px;
    }
}



/*question css end*/