.slidecontainer {
  width: 80%;
  margin-left:20px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}
.panel
{
	margin-top:20px;
}
.btnLabelDropdown,.btnStyle{
	width:100%;
}
#centerText
{
	font-size:20px;
}
#hrStyle
{height:2px;
border-width:0;
color:gray;
background-color:gray;
}
#cardStyle
{
	margin:10px;
	background-color:grey;
	color:#fff;
	font-size:20px;
}
p{ 
	text-align: left;
	font-size:16px;
}
.demo{
text-align: center;	

}


input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0;
}
input[type=range].slider:focus {
  outline: none;
}

input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.7px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #c0c0c0;
  border-radius: 2.1px;
  border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 1.7px 1.7px 1.6px #730000, 0px 0px 1.7px #8d0000;
  border: 0px solid #ff0000;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: rgba(255, 119, 186, 0.89);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #c0c0c0;
}
.slidecontainer {
  width: 100%;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
table{
	width:100%;
}
.bg-info{
	color:#fff;
}
#errorModel
{
	font-size:15px;
	color:red;
	
}
.errorText
{
	margin-left:50px;
}
#meterCon
{
	font-size:20px;
	color:red;
}
 #container {
    height: 670px;
}
/*   #questionDiv{} */
.QueHead{font-size: 18px;
      font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    margin: 5px 0;
    border-radius: 10px;
    padding: 10px 0;
    font-family: Cambria, Georgia, serif;
	}
#questionDiv .queno
{ background-color:#076f9a; padding:5px 10px; color:#fff; font-size: 20px; border-radius: 10px; font-family: Cambria, Georgia, serif;}
#questionDiv .queTitle {
	padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
}

#testSubmit
{
	padding: 10px;
	color: #fff;
	font-size: 18px;
	border-radius: 10px;
	background-color: #666;
	margin: 20px 10px;;
	letter-spacing: 1px;
	font-weight: bold;
/* 	box-shadow: 0 5px #999; */
}

#testSubmit:hover{
	background-color: #05aaa5
}

#testSubmit:active {
	background-color: #05aaa5;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}